.settings-sections {
    .deployment-status {
        .online-status {
            .status-text {
                transform: translate(0, 1px);
            }
        }
    }

    .entity-discovery {
        .entity-search {
            flex-grow: 1;
        }

        .entity-display {
            max-height: 512px;
            overflow-y: auto;
        }
    }
}

.settings-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
