.ham-app {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;

    .ham-header {
        position: absolute;
        top: 0px;
        left: 0px;
        padding-left: 56px;

        .header-icon {
            position: absolute;
            top: 50%;
            left: 4px;
            transform: translate(0, -50%);

            svg {
                width: 24px;
                height: 24px;
            }
        }

        .mode-switch {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
        }

        .header-title {
            font-size: 1.5em;
            font-weight: 500;
            padding-top: 1px;
        }
    }
    .content {
        position: absolute;
        top: 48px;
        left: 0px;
        display: flex;
        width: 100%;
        height: calc(100% - 48px);

        .options {
            &:not(.expanded) {
                flex-shrink: 1;
                max-width: 72px;

                .pages .index-link .title {
                    display: none;
                }

                .account {
                    .account-name {
                        display: none;
                    }

                    .logout-button {
                        display: none;
                    }
                }
            }

            &.expanded {
                flex-grow: 0.25;
                min-width: 256px;
            }
            display: flex;
            flex-direction: column;

            .pages {
                flex-grow: 1;

                .index-link {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 48px;
                    cursor: pointer;
                    transition: filter 0.1s;

                    svg {
                        position: absolute;
                        top: 50%;
                        left: 12px;
                        width: 24px;
                        height: 24px;
                        transform: translate(0, -50%);
                    }

                    .title {
                        position: absolute;
                        top: calc(50% + 2px);
                        left: 48px;
                        transform: translate(0, -50%);
                    }

                    &:hover {
                        filter: brightness(0.95);
                    }
                }
            }

            .account {
                margin-top: 8px;
                flex-shrink: 1;

                .account-name {
                    flex-grow: 1;
                }

                .account-icon {
                    width: 48px;
                    height: 48px;
                }
            }

            .sidebar-expansion {
                width: 48px;
                height: 48px;
            }
        }

        .page-content {
            position: relative;
            flex-grow: 2;
        }
    }
}
