.entity-management-modal {
    .mantine-Modal-header .mantine-Text-root {
        transform: translate(0, 2px);
        font-size: 1.3em;
    }

    .sections {
        .section {
            .section-panel {
                max-height: 65vh;
                overflow-y: auto;
            }

            .mantine-Accordion-control {
                svg {
                    transform: translate(0, -1px);
                }
            }

            &.services {
                .no-services {
                    opacity: 0.5;
                    user-select: none;
                    pointer-events: none;
                    margin-top: 24px;
                    margin-bottom: 24px;
                }
            }
        }
    }
}