.entity-management-modal {
    .mantine-Modal-header .mantine-Text-root {
        transform: translate(0, 2px);
        font-size: 1.3em;
    }

    .sections {
        .section {
            .section-panel {
                max-height: 65vh;
                overflow-y: auto;

                .masonry {
                    display: -webkit-box; /* Not needed if autoprefixing */
                    display: -ms-flexbox; /* Not needed if autoprefixing */
                    display: flex;
                    margin-left: -8px; /* gutter size offset */
                    width: auto;

                    .masonry-column {
                        padding-left: 8px; /* gutter size */

                        & > div {
                            margin-bottom: 8px;

                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }

            .mantine-Accordion-control {
                svg {
                    transform: translate(0, -1px);
                }
            }

            &.services {
                .no-services {
                    opacity: 0.5;
                    user-select: none;
                    pointer-events: none;
                    margin-top: 24px;
                    margin-bottom: 24px;
                }
            }
        }
    }
}